#sidebarDiv,
#sidebarRightDiv {
  display: flex;
  flex: none;
  border: 1px solid green;
}

#sidebar {
  width: 300px;
}

#editorsDiv {
  flex: 1;
  min-width: 0;
}

#editors {
  position: relative;
  min-width: 0;
  height: 99%;
  border: 1px solid green;
}

#sidebar-right {
  max-width: 500px;
}

#auxiliaryBar-left,
#auxiliaryBar {
  max-width: 300px;
}

#panel {
  display: none;
  flex: 1;
  border: 1px solid green;
  min-height: 0;
}

#titleBar {
  position: relative;
  flex: none;
}

#banner {
  flex: none;
}

#workbench-container {
  height: 95vh;
  display: flex;
  flex-direction: column;
}

#workbench-top {
  display: flex;
  flex: 2;
  min-height: 0;
}
